<table id="mainTable">
  <tbody id="tableBody"></tbody>
</table>

<script src="javascript/ScreenObject.js"></script>
<script src="javascript/Animation.js"></script>
<script src="javascript/Image.js"></script>
<script src="javascript/Menu.js"></script>
<script src="javascript/MenuOption.js"></script>
<script src="javascript/Pixel.js"></script>
<script src="javascript/Screen.js"></script>
<script src="javascript/Window.js"></script>

<script>

  let mainScreen = new Screen(40,20);
  let backgroundImage = new Image(40,20,"grey");
  backgroundImage.setAsBackground();
  let redImage = new Image(6,3,"red");
  let greenImage = new Image(3,6,"green");

  let frame1 = new Image(4,4,"black");
  let frame2 = new Image(4,4,"orange");
  let anAnimation = new Animation();
  anAnimation.addFrame(frame1);
  anAnimation.addFrame(frame2);

  mainScreen.addObject(0,0,backgroundImage);
  mainScreen.addObject(1,1,redImage);
  mainScreen.addObject(20,10,greenImage);
  mainScreen.addObject(25,10,anAnimation);


  let frameCounter = 0;
  setInterval(() => {
    frameCounter++;
    mainScreen.update();
    mainScreen.render();
  }, 1000);

</script>
