<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
    <title>Pixel</title>
    <link href='style.css' rel='stylesheet' />
  </head>
  <body class='container'>
    <%= yield %>
  </body>
</html>
